html {
  overflow: hidden;
}
body,
#main {
  overflow: hidden;
  height: 100vh;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(169, 169, 179, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 81, 81, 0.6);
}
::-webkit-scrollbar-corner {
  display: none;
}

#content,
aside.menu,
#reader {
  max-height: calc(100vh - 3.5rem);
}
aside.menu {
  overflow-y: auto;
}
.file.has-name.is-boxed {
  min-width: 450px;
}
.file-label {
  min-width: 450px;
}
.file-name {
  max-width: 35em;
}
#reader {
  height: 110%;
  width: 100%;
}
.epub-container {
  max-height: 100vh;
  overflow-x: hidden !important;
}
#font-size {
  margin-top: 8px;
}
.epub-view,
.epub-view iframe {
  width: 100% !important;
}
