html {
    overflow: hidden;
}
body, #main {
    overflow: hidden;
    height: 100vh;
}
#content,
aside.menu,
#reader {
    max-height: calc(100vh - 3.5rem);
}
aside.menu {
    overflow-y: auto;
}
.file.has-name.is-boxed {
    min-width: 450px;
}
.file-label {
    min-width: 450px;
}
.file-name {
    max-width: 35em;
}
#reader {
    height: 110%;
    width: 100%;
}
.epub-container {
    max-height: 100vh;
    overflow-x: hidden !important;
}
#font-size {
    margin-top: 8px;
}
